footer{
    background:  #254f8e;
    ;
    margin-top: 150px;
    display: flex;


.footer-one{
    padding-left: 50px;
    margin-left: 150px;

  ul, li, a{
    list-style-type: none;
    text-decoration: none;
    color: #a1bce6;
    font-size: 14px;
    line-height: 32px;
     
  }
}


  .footer-two{
    padding-left: 50px;

    ul, li, a{
        list-style: none;
        text-decoration: none;
        color: #a1bce6;
        font-size: 14px;
        line-height: 32px;
        
    }
  }

  .footer-three{
    padding-left: 50px;

    ul, li, a{
        list-style: none;
        text-decoration: none;
        color: #a1bce6;
        font-size: 14px;
        line-height: 32px;
    }
  }


.footer-four{
    padding-left: 50px;

    ul, li, a{
        list-style: none;
        text-decoration: none;
        color: #a1bce6;
        font-size: 14px;
        line-height: 32px;
    }
}
  

.footer-five{
    padding-left: 150px;

    ul, li, a{
        list-style: none;
        text-decoration: none;
        text-align: right;
        color: #a1bce6;
        font-size: 14px;
        line-height: 32px;
    

    }
}
}